<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>VideoTranscoding</title>
<meta name="description" content="XXXXXXXXXXXXXXXXx" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/main.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/main.js"></script>
<script src="js/jqueryForm.js"></script>
</head>

<body>
	<image src="images/VideoTranscoding_logo.png"/>
	<br>
	<a id="swagger" href="/swagger-ui.html">Api Documentation</a>
	<h3>Upload your File and select the conversion that you want.</h3>
	<div class="container">
		<div class="col-md-12">
			<form id="form" enctype="multipart/form-data" method="post"
				action="/uploadFile">
				<div id="explain" class="container">
					<ul>
						{{#explain}}
						<li>{{.}}</li> {{/explain}}
					</ul>
				</div>
				<select multiple size='4' name="conversionType" id="conversionType">
					{{#conversionType}}
					<option value="{{.}}">{{.}}</option> {{/conversionType}}
				</select> <br> <br> <input class="osxbutton" id="fileupload"
					name="fileupload" type="file" /> <br> <br>
				<button class="osxbutton" value="Send" id="submit" type="submit">Send</button>
				<br> <br>
				<div class="progress">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
				<div id="status"></div>
			</form>
		</div>
	</div>
</body>

</html>