<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>VideoTranscoding</title>
	<meta name="description" content="XXXXXXXXXXXXXXXXx" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<h1>VideoTranscoding</h1>
	<a id="swagger" href="/swagger-ui.html">Api Documentation</a>
	<h3>Upload your File and select all conversion type that you wants</h3>
	<div class="container">
		<div class="col-md-12">
			<form id="uploadbanner" enctype="multipart/form-data" method="post" action="/uploadFile">
				<select multiple size='6'>
					{{#conversionType}}
					<option id="conversionType" value="{{.}}">{{.}}</option>
					{{/conversionType}}
				</select>
				<br>
				<input class="osxbutton" id="fileupload" name="fileupload" type="file" />
				<br>
				<br>
				<button class="osxbutton" type="submit">Send</button>
				<br>
				<br>
				<div class="progress">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
				<div id="status"></div>
			</form>
			
			<form method="post" action="/uploadFile" modelAttribute="lesson">
				 <select path="course"> 
				 {{#conversionType}}
			 		<option >{{.}}</option> 
			 	  {{/conversionType}}
			 		
			 	</select> 
			 	<input class="osxbutton" id="fileupload" name="fileupload" type="file" />
			 <input type="submit" name="addLesson" value="Add lesson"> 
			 </form>
		</div>
	</div>
</body>

</html>