<h3>Upload your File and select all conversion type that you wants</h3>
<form id="uploadbanner" enctype="multipart/form-data" method="post"
    action="/uploadFile">
    <input id="fileupload" name="fileupload" type="file" /> <input
        type="submit" value="Send" id="submit" /> <br />
    <br />
    <div>
        {{#conversionType}} 
        <input type="checkbox" name="conversionType"
            id="conversionTypes" value="{{.}}"> {{.}}<br />
        {{/conversionType}}
    </div>

</form>